/* You can add global styles to this file, and also import other style files */

.bg-primary {
  background-color: #007cbb !important;
}

a.electric-blue {
  color: #0892D0;
}

.badge-danger {
  background-color: #d04429 !important;
}

/*Flat UI Colors*/

.bg-niceblue {
  background-color: #039be5;
}

.bg-turquoise {
  background-color: #1abc9c;
}

.bg-emerald {
  background-color: #2ecc71;
}

.bg-peter_river {
  background-color: #3498db;
}

.bg-amethyst {
  background-color: #9b59b6;
}

.bg-wet_asphalt {
  background-color: #34495e;
}

.bg-green_sea {
  background-color: #16a085;
}

.bg-nephritis {
  background-color: #27ae60;
}

.bg-belize_hole {
  background-color: #2980b9;
}

.bg-wisteria {
  background-color: #8e44ad;
}

.bg-midnight_blue {
  background-color: #2c3e50;
}

.bg-sun_flower {
  background-color: #f1c40f;
}

.bg-carrot {
  background-color: #e67e22;
}

.bg-alizarin {
  background-color: #e74c3c;
}

.bg-clouds {
  background-color: #ecf0f1;
}

.bg-concrete {
  background-color: #95a5a6;
}

.bg-orange {
  background-color: #f39c12;
}

.bg-pumpkin {
  background-color: #d35400;
}

.bg-pomergranate {
  background-color: #c0392b;
}

.bg-silver {
  background-color: #bdc3c7;
}

.bg-asbestos {
  background-color: #7f8c8d;
}

.bg-firebase_orange {
  background-color: #ffa60f;
}

@media screen {
  .fixed-at-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

